{% extends "base.html" %}
{% block title %}Login Page{% endblock %}

{% block content %}

<form action="/create-ad/flat">
    <input type="submit" value="Flat" />
</form>

<form action="/create-ad/house">
    <input type="submit" value="House" />
</form>

<form action="/create-ad/premise">
    <input type="submit" value="Premises" />
</form>

<form action="/create-ad/garage">
    <input type="submit" value="Garage" />
</form>

<form action="/create-ad/plot">
    <input type="submit" value="Plots" />
</form>
{% endblock %}