{% extends "base.html" %}
{% block title %}Login Page{% endblock %}

{% block content %}
<h1>HOUSE FORM PLACEHOLDER</h1>
<form action="#" method="post">

    <div>
        <label for="Ad_name">Advertisement name:</label>
        <input id="Ad_name" type="text" name="Ad_name" required>
    </div>

    <div>
        <label for="Ad_type">Advertisement type:</label>
        <select name="Ad_type">
            {% for activity in ['Sale', 'Rent'] %}
                <option value="{{ activity }}">{{ activity }}</option>
            {% endfor %}
          </select>

    </div>

    <div>
        <label for="Price">Price:</label>
        <input id="Price" type="number" name="Price" min="0" required>
    </div>

    <div>
        <label for="City">City:</label>
        <select name="City">
            {% for activity in ['Kaunas', 'Vilnius', 'Palanga', 'Klaipėda', 'Other'] %}
                <option value="{{ activity }}">{{ activity }}</option>
            {% endfor %}
          </select>

    </div>

    <div>
        <label for="Address_line">Address:</label>
        <input id="Address_line" type="text" name="Address_line" required>
    </div>

    <div>
        <label for="Area">Area:</label>
        <input id="Area" type="number" name="Area" min="0" step="0.1" required>
    </div>

    <div>
        <label for="Plot_area">Plot area:</label>
        <input id="Plot_area" type="number" name="Plot_area" min="0" step="0.1" required>
    </div>

    <div>
        <label for="Rooms">Number of rooms:</label>
        <input id="Rooms" type="number" name="Rooms" min="0" step="1" required>
    </div>

    <div>
        <label for="Floors">Floors in building:</label>
        <input id="Floors" type="number" name="Floors" min="0" step="1" required>
    </div>

    <div>
        <label for="Year_built">Year built:</label>
        <input id="Year_built" type="number" name="Year_built" min="0" step="1" required>
    </div>

    <div>
        <label for="Year_renovated">Year renovated:</label>
        <input id="Year_renovated" type="number" name="Year_renovated" min="0" step="1">
    </div>

    <div>
        <label for="Building_type">Building type:</label>
        <select name="Building_type">
            {% for activity in ['Block', 'Monolithic', 'Brickwork', 'Wooden', 'Carcass', 'Other'] %}
                <option value="{{ activity }}">{{ activity }}</option>
            {% endfor %}
          </select>

    </div>

    <div>
        <label for="Finish">Finish status:</label>
        <select name="Finish">
            {% for activity in ['Finished', 'Semi_finished', 'Unfinished', 'Unbuilt', 'Foundations', 'Other'] %}
                <option value="{{ activity }}">{{ activity }}</option>
            {% endfor %}
          </select>

    </div>

    <div>
        <label for="House_type">House type:</label>
        <select name="House_type">
            {% for activity in ['Living', 'Part', 'Summer_house', 'Other'] %}
                <option value="{{ activity }}">{{ activity }}</option>
            {% endfor %}
          </select>

    </div>

    <div>
        <label for="Heating">Heating type:</label>
        <select name="Heating">
            {% for activity in ['Central', 'Gas', 'Electric', 'Geothermal', 'Solid_fuel', 'Liquid_fuel', 'Aerothermal', 'Solar'] %}
                <option value="{{ activity }}">{{ activity }}</option>
            {% endfor %}
          </select>

    </div>

    <div>
        <label for="Energy_class">Energy class:</label>
        <select name="Energy_class">
            {% for activity in ['A', 'B', 'C', 'D'] %}
                <option value="{{ activity }}">{{ activity }}</option>
            {% endfor %}
          </select>

    </div>

    <div>
        <label for="Furnitured">Furniture status:</label>
        <select name="Furnitured">
            {% for activity in ['Full', 'Semi', 'None'] %}
                <option value="{{ activity }}">{{ activity }}</option>
            {% endfor %}
          </select>

    </div>

    <div>
        <p>Description:</p>
        <textarea id="Ad_description" name="Ad_description" rows="4" cols="50"></textarea>
    </div>

    <p><input type="submit" value="Create Ad"></p>

</form>
{% endblock %}