{% extends "base.html" %}
{% block title %}Register Page{% endblock %}

{% block content %}
<form action="#" method="post">
    <p>Email:</p>
    <p><input type="Email" name="Email" required></p>
    <p>Password:</p>
    <p><input type="password" name="User_password" required></p>
    <p>Number(Optional):</p>
    <p><input type="text" name="Phone_number"></p>

    <input type="checkbox" id="Email_notification" name="Email_notification" value="1">
    <label for="email_not"> Email Notifications</label><br>

    <input type="checkbox" id="Phone_notification" name="Phone_notification" value='1'>
    <label for="phone_not"> Phone Notifications</label><br>

    <p><input type="submit" value="Register"></p>

</form>
{% endblock %}