{% extends "base.html" %}
{% block title %}Browse ads:{% endblock %}

{% block content %}
<h5>Search criteria: {{tipo}}</h5>
  <table id="data" class="table table-striped">
    <thead>
      <tr>
        <th>Ad Name</th>
        <th>Type</th>
        <th>ID</th>
        <th>Price</th>
        <th>View Count</th>



      </tr>
    </thead>
    <tbody>
      {% for row in rows %}
        <tr>
            {% for v in row %}
                <td>{{v}}</td>
            {% endfor %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <table border='5' align="right">
    <tr>
    <td style="padding: 5px;">All views for this type:</td>
    </tr>
    <tr>
    <td>{{sum_}}</td>
    </tr>
</table>
{% endblock %}